.profile__edit-button {
  background-color: black;
  background-image: url(../../../images/edit-vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 575px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
