.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 51px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  justify-items: center;
}
